#index-header{
  background-image: url('../img/index.png');
}

#mobile-index-header-text{
  display: none;
}


@media screen and (max-width: 479px){
.link-block---ashley-logo.w-inline-block{
  margin-left: -35px;
  margin-top: -25px;
}

#index-header{
  background-image: url('../img/index-mobile.jpeg');
}

#mobile-index-header-text{
  display: block;
}

}